@keyframes spinsun {
  0% { transform: rotate(0); }
  100%   { transform: rotate(-360deg); }
}

@keyframes spin-planet {
  0% { transform: rotate(0); }
  100%   { transform: rotate(-360deg); }
}
@keyframes orbitearth {
  0% {
    transform: translate3d(0,0,0);
    z-index:4;
  }
  49% {z-index:4;}
  50% {
    z-index:-4;
    transform: translate3d(-260px, -150px, 0);
  }
  99% {z-index:-4;}
  100%   {
    z-index:4;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes orbitmars {
  0% { z-index:5; transform: translate3d(0, 0, 0); }
  49% { z-index:5; }
  50% { z-index:-5;
    transform: translate3d(200px,-160px,0);
  }
  99% { z-index:-5;
  }
  100%   { z-index:5; transform: translate3d(0, 0, 0); }
}
@keyframes orbitjupiter {
  0% {
    z-index:4;
    transform: translate3d(0, 0, 0);
  }
  49% {z-index:4;}
  50% {
    transform: translate3d(175px, 0, 0);
    z-index:-4;
  }
  99% {z-index:-4;}
  100%   {
    transform: translate3d(0, 0, 0);
    z-index:4;
  }
}

@keyframes pulsar {
  0% {
    transform: scale(1);
  }
  50% {
    box-shadow: 0 0 30px 10px rgb(253, 178, 39);
  }
  100% {
    transform: scale(1);
  }
}
/* Keep planet image flat */
@keyframes anti-spin {
  from { transform: rotateY(10deg); }
  to   { transform: rotateY(-360deg); }
}
@keyframes anti-spin-rings {
  from { transform: rotateY(10deg) rotateX(73deg); }
  to   { transform: rotateY(-360deg) rotateX(73deg); }
}

/* scene wrapper */
body {
  height: 100%;
}
.out {
  overflow: hidden;
  height: 100%;
}
.preloader{
  margin: 0 auto;
  position:relative;
  perspective: 1000px;
  padding: 220px 0px;
  max-width: 250px;
  width: 100%;
  display: block;
  perspective-origin: 60% 50%;
}
.preloader > div {
  position: relative;
  margin: 0 auto;
  transform-style: preserve-3d;
  height: 0px;
}
.sun {
  width: 80px;
  top: 0px;
  display: block;
  z-index: 1;
  height: 80px !important;
}
.sun .star {
  width: 80px;
  height: 80px;
  background-image: url('../img/sun.svg');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 250px;
  margin: 0 auto;
  position: relative;
  display: block;
  animation: spinsun 24s infinite linear;
}

.sun .star::before {
  content: "";
  border-radius: 250px;
  display: block;
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: rgba(orange, .61);
  z-index: 1;
  top: 10px;
  box-shadow: 0 0px 50px 10px  #f9bb4b;
  transition: box-shadow .24s linear;
  animation: pulsar 4s infinite linear;
  left: 5px;
}


.planet {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  animation-iteration-count: infinite;
  overflow:hidden;
  display: inline-block;
}
.earth {
  position: absolute;
  // width: 610px;
  z-index:4;
  animation: orbitearth 4s infinite linear;
  top: 0;
  left: 100%;
}
.earth .planet {
  width: 60px;
  height: 60px;
  background-image: url('../img/earth.svg');
  background-size: cover;
  animation: spin-planet 11s infinite linear;
}
.mars {
  position: absolute;
  // width: 706px;
  z-index:5;
  animation: orbitmars 5s infinite linear;
  top: 0;
}
.mars .planet {
  width: 50px;
  height: 50px;
  background-image: url('../img/mars.svg');
  animation: spin-planet 6s infinite linear;
}


.jupiter {
  position: absolute;
  width: 100%;
  max-width: 1100px;
  z-index:6;
  animation: orbitjupiter 4s infinite linear;
  top: -70px;
}
.jupiter .planet {
  width: 55px;
  height: 55px;
  background: url("../img/jupiter.svg") no-repeat;
  animation: spin-planet 16s infinite linear;
  background-size: cover;
}
