<footer class="footer" id="contacts">
	<div class="inner">
		<div class="inner__in">
			<div class="footer__info-wrapper">
				<div class="footer__info">
					<p>Киев, Украина</p>
					<p>Телефон: <a href="tel:+380672199968">+38 (067) 219-99-68</a></p>
					<!-- END .contacts -->
				</div>

				<div class="footer__info">
					<p>e-mail:<a href="mailto:info@medusabrush.com" title="Send E-mail">info@medusabrush.com</a></p>
					<p>эксклюзивно на <a href="simmetria.ua" target="_blank" title="Simmetria.ua"><strong>simmetria.ua</strong></a></p>
					<!-- END .address -->
				</div>
			</div>
			<!-- END .footer__info-wrapper -->

			<a href="page.html" class="logo footer__logo">{{mixins.icon('logo-meduzabrush')}}</a>
		</div>
	</div>
</footer>
<!-- END .footer -->