<header class="js-header header">
	<div class="inner header__in">
		<a href="page.html" class="logo">{{mixins.icon('logo')}}</a>

		<nav class="js-header-nav header__nav">
			<ul class="js-scrollspy-menu menu menu__header">
				<li class="is-current"><a href="#home" class="js-scroll-to">главная</a></li>
				<li ><a href="#features" class="js-scroll-to">особенности</a></li>
				<li ><a href="#photos" class="js-scroll-to">фото</a></li>
				<li ><a href="#order" class="js-scroll-to">заказать</a></li>
				<li ><a href="#contacts" class="js-scroll-to">контакты</a></li>
			</ul>

			<ul class="menu menu__lang">
				<li ><a href="/">EN</a></li>
				<li class="is-current"><a href="/">RU</a></li>
			</ul>
		</nav>
		<!-- END .nav -->

		<button class="js-btn-nav btn-nav" type="button">
			<span></span>
		</button>
	</div>
</header>
<!-- END .header -->