.icon-planet-00 {
  width: 1.01em;
  height: 1em;
  fill: #69899e;
}
.icon-planet-01 {
  width: 0.98em;
  height: 1em;
  fill: #e5a248;
}
.icon-planet-02 {
  width: 0.91em;
  height: 1em;
  fill: #b29a76;
}
.icon-planet-03 {
  width: 1.01em;
  height: 1em;
  fill: #9abdcc;
}
